$color-primary: #00a6fb;
$color-secondary: #0582ca;
$color-accent: #006494;
$color-accent-dark: #003554;
$color-text: #333333;
$color-text-light: #4f4f4f;
$color-text-brand: #051923;
$color-white: #ffffff;
$color-black: #000000;


// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;
