$color-primary: #00a6fb;
$color-secondary: #0582ca;
$color-accent: #006494;
$color-accent-dark: #003554;
$color-text: #333333;
$color-text-light: #7a7a7a;
$color-text-lighter: #cdcdcd;
$color-text-brand: #051923;
$color-white: #ffffff;
$color-off-white: #f3f3f3;
$color-off-black: #333333;
$color-off-black-light: #4b4b4b;
$color-black: #000000;
$color-error: #ff0000;
$color-success: #00ff00;
$color-overlay: rgba(0, 0, 0, 0.5);


// Screen sizes
$screen-xs: 380px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;
$screen-xxxl: 1600px;
$screen-xxxxl: 1800px;
$screen-max: 1920px;



// Font Family 
$font-family: 'Helvetica Neue', Arial, sans-serif;
