// styles/dashboardLinks.module.scss

@import './variables';
@import './mixins';

.linksPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

    .linksContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: flex-start;
        width: 100dvw;
        max-width: calc(60dvw - 15rem);

        @media (max-width: $screen-lg) {
            max-width: 100%;
        }

        .addLinkContainer {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            .addLinkButton {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                padding: 1rem;
                background-color: $color-secondary;
                color: white;
                border-radius: 50px;
                width: auto;
                cursor: pointer;
                transition: background-color 0.3hs;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                width: 100%;

                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    fill: $color-white;
                }

                &:hover {
                    background-color: $color-off-black;

                    svg {
                        fill: $color-white;
                    }
                }
            }

            .addLinkInput {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5rem;
                padding: 0.5rem 1rem;
                background-color: $color-white;
                border-radius: 50px;
                width: auto;
                cursor: pointer;
                transition: background-color 0.3hs;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                input {
                    font-size: 1rem;
                    font-weight: 500;
                    color: $color-text;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    width: 100%;
                }

                svg {
                    width: 1rem;
                    height: 1rem;
                    fill: $color-text;
                }

                &:hover {
                    background-color: $color-off-black;

                    p {
                        color: $color-white;
                    }

                    svg {
                        fill: $color-white;
                    }
                }
            }
        }
    }
    .previewButtonContainer {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;

        @media (min-width: $screen-lg) {
            display: none;
        }


        .previewButton {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            padding: 1rem;
            background-color: $color-off-black;
            color: white;
            border-radius: 50px;
            width: auto;
            cursor: pointer;
            transition: background-color 0.3hs;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;

            svg {
                width: 1.5rem;
                height: 1.5rem;
                fill: $color-white;
            }

            p {
                font-size: 1rem;
                font-weight: 500;
                color: $color-white;
            
            }

            &:hover {
                background-color: $color-off-black-light;

                svg {
                    fill: $color-white;
                }
            }
        }
    }
}