// styles/dashboardNav.module.scss

@import './variables';
@import './mixins';

.dashboardNav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    border-radius: 25px;
    background-color: $color-white;
    height: 100%;
    width: 15rem;
    padding: 1rem;

    @media (max-width: $screen-lg) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        height: 5rem;
        width: 100%;
    }

    
    @media (max-width: $screen-sm) {
        padding: 1rem;
    }

    .navLogoContainer {
        @include flex-center;

        img {
            height: 3rem;
            width: auto;
            object-fit: contain;
        }

        @media (max-width: $screen-lg) {
            margin-bottom: 0;

            img {
                height: 2rem;
                width: auto;
                object-fit: contain;
            }
        }
    }

    .navLinks {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        width: 100%;
        height: 100%;

        @media (max-width: $screen-lg) {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;

            li {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;

                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                    fill: $color-text-light;
                    transition: fill 0.3s ease;
                }

                p {
                    font-size: 1rem;
                    font-weight: 400;
                    color: $color-text-light;
                    transition: color 0.3s ease;
                }

                &.active {
                    p {
                        color: $color-primary;
                    }

                    svg {
                        fill: $color-primary;
                    }
                }

                &:hover {
                    p {
                        color: $color-primary;
                    }

                    svg {
                        fill: $color-primary;
                    }
                }
            }
        }
    }

    .navInnerContainerMobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        width: 100%;

        @media (max-width: $screen-lg) {
            flex-direction: row;
        }

        .goPremiumContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 50px;
            padding: 0.5rem;
            background-color: $color-off-black;
            transition: background-color 0.3s ease;
            width: 100%;
            padding: 1rem;
            cursor: pointer;

            &:hover {
                background-color: $color-black;
                .goPremium {
                    svg {
                        fill: $color-white;
                    }

                    p {
                        color: $color-white;
                    }
                }
            }

            .goPremium {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                width: 100%;

                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                    fill: $color-text-light;
                    transition: fill 0.3s ease;
                }

                p {
                    font-size: 1rem;
                    font-weight: 500;
                    color: $color-text-light;
                    transition: color 0.3s ease;
                }
            }

            @media (max-width: $screen-lg) {
                width: auto;
                
                p {
                    display: none;
                }
            }
        }

        .profileImageContainer {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 50px;
            padding: 0.5rem;
            background-color: $color-off-white;
            transition: background-color 0.3s ease;
            width: 100%;

            @media (max-width: $screen-lg) {
                width: auto;
            }
    
    
            &:hover {
                background-color: $color-off-black;
    
                .profileInnerContainer {
                    cursor: pointer;

                    .userInfo {
                        p {
                            color: $color-white;
                        }
                    }
                }
            }
            
            .profileInnerContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 0.5rem;
                width: 100%;
    
                img {
                    border-radius: 50%;
                }
        
                .userInfo {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    text-align: center;
                    gap: 0.5rem;
                    width: 100%;
                    overflow: hidden;
    
                    @media (max-width: $screen-lg) {
                        display: none;
                    }
        
                    p {
                        margin: 0;
                        color: $color-text;
                        font-size: 0.8rem;
                        font-weight: 700;

                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 120px;
                        text-align: left;
                    }
                }
            }

            .profileDropdownMenu {
                position: absolute;
                top: 4.5rem;
                right: -1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                background-color: $color-white;
                border-radius: 25px;
                padding: 1rem;
                box-shadow: 0 0 10px rgba($color-black, 0.1);
                z-index: 1000;
                width: 20rem;
            
                @media (min-width: $screen-lg) {
                    left: 14.5rem;
                    top: auto;
                    bottom: -2rem;
                }

                @media (max-width: $screen-lg) {
                    right: -2rem;
                }

                .profileMenuUserDetailsContainer {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 0.5rem;
                    margin-bottom: 1rem;
        
                    img {
                        border-radius: 50%;
                    }
            
                    .userInfo {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        text-align: center;
                        width: 100%;
                        overflow: hidden;
        
            
                        p {
                            margin: 0;
                            color: $color-text;
                            font-size: 0.9rem;
                            font-weight: 700;

                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 200px;
                            text-align: left;
                        }
    
                        sub {
                            font-size: 0.7rem;
                            font-weight: 400;
                            color: $color-text-light;

                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 200px;
                            text-align: left;
                        }
                    }
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    gap: 1rem;
                    padding: 0;
                    margin: 0;
                    width: 100%;

                    .dropdownMenuContainer {
                        h5 {
                            font-size: 1rem;
                            font-weight: 500;
                            color: $color-text;
                            transition: color 0.3s ease;
                            padding-left: 1rem;
                        }
    
                        li {
                            display: flex;
                            flex-direction: row;
                            gap: 1rem;
                            align-items: center;
                            justify-content: flex-start;
                            width: 100%;
                            border-radius: 50px;
                            padding: 1rem;
                            transition: background-color 0.3s ease;
                            cursor: pointer;
    
                            svg {
                                height: 1rem;
                                width: 1rem;
                                fill: $color-text-light;
                                transition: fill 0.3s ease;
                            }
    
                            p {
                                font-size: 1rem;
                                font-weight: 400;
                                color: $color-text-light;
                                transition: color 0.3s ease;
                            }
    
                            &:hover {
                                background-color: $color-off-white;
                            }
                        }
                    }
                }
            }
        }
    
        .navLinksMobile {
            position: absolute;
            top: 5.5rem;
            left: 0;
            right: 0;
            display: none;
            width: 100%;
            background-color: $color-white;
            padding: 1rem;
            border-radius: 25px;
    
            @media (max-width: $screen-lg) {
                display: flex;
            }
    
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 0.5rem;
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;
                overflow: hidden;
    
                li {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
    
                    svg {
                        height: 100%;
                        width: 100%;
                        max-width: 1rem;
                        fill: $color-text-light;
                        transition: fill 0.3s ease;
                    }
    
                    p {
                        font-size: clamp(0.8rem, 1.5vw, 1rem);
                        font-weight: 400;
                        color: $color-text-light;
                        transition: color 0.3s ease;

                        @media (max-width: $screen-sm) {
                            font-size: clamp(0.5rem, 1.5vw, 0.6rem);
                        }
                    }
    
                    &.active {
                        p {
                            color: $color-primary;
                        }
    
                        svg {
                            fill: $color-primary;
                        }
                    }
    
                    &:hover {
                        p {
                            color: $color-primary;
                        }
    
                        svg {
                            fill: $color-primary;
                        }
                    }
                }
            }
        }
    }
}
