// styles/draggableList.module.scss

@import './variables';
@import './mixins';

.container {
    border-radius: 4px;
    width: 100%;

    .draggableItem {
      user-select: none;
      padding: 16px;
      margin: 0 0 8px 0;
      min-height: 50px;
      background-color: #fff;
      color: #333;
      border-radius: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
      .dragHandle {
        cursor: grab;
        height: auto;
      }
  
      .dragHandle:active {
        cursor: grabbing;
      }

      .dataContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        .linkDataContainer {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
          overflow: hidden;
  
          #linkTitle {
            font-size: 1rem;
            font-weight: 700;
            color: $color-text;
            white-space: nowrap;        // Prevent text from wrapping to the next line
            overflow: hidden;           // Hide the overflowed text
            text-overflow: ellipsis;    // Display an ellipsis (...) to indicate the text is truncated
          }
          
          #linkUrl {
            font-size: 1rem;
            font-weight: 400;
            color: $color-text-light;
            white-space: nowrap;        // Prevent text from wrapping to the next line
            overflow: hidden;           // Hide the overflowed text
            text-overflow: ellipsis;    // Display an ellipsis (...) to indicate the text is truncated
          }
          
        }

        .dataFunctions {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
}
  
  
  