// styles/draggableList.module.scss

@import './variables';
@import './mixins';

.container {
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .draggableItem {
      user-select: none;
      padding: 16px;
      min-height: 50px;
      background-color: #fff;
      color: #333;
      border-radius: 24px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;

      .controlsContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;

        .dragHandle {
          cursor: grab;
          height: auto;
        }
    
        .dragHandle:active {
          cursor: grabbing;
        }
  
        .dataContainer {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
          overflow: hidden;
          gap: 1rem;
  
          .linkDataWrapper {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            overflow: hidden;

            .linkDataContainer {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              justify-content: flex-start;
              align-items: flex-start;
              width: 100%;
              overflow: hidden;

              .editInput {
                background-color: none;
                border: none;
                outline: none;
                font-size: 1rem;

                &:focus {
                  background-color: none;
                  border: none;
                  outline: none;
                }
              }
      
              .linkTitle {
                position: relative;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                width: auto;
                max-width: 100%;

                p {
                  font-size: 1rem;
                  font-weight: 700;
                  color: $color-text;
                  white-space: nowrap;        // Prevent text from wrapping to the next line
                  overflow: hidden;           // Hide the overflowed text
                  text-overflow: ellipsis;
                  padding-right: 1.5rem;
                }

                svg {
                  position: absolute;
                  right: 0;
                  width: 1rem;
                  height: 1rem;
                }
              }
              
              .linkUrl {
                position: relative;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                width: auto;
                max-width: 100%;

                p {
                  font-size: 1rem;
                  font-weight: 400;
                  color: $color-text;
                  white-space: nowrap;        // Prevent text from wrapping to the next line
                  overflow: hidden;           // Hide the overflowed text
                  text-overflow: ellipsis;
                  padding-right: 1.5rem;
                }

                svg {
                  position: absolute;
                  right: 0;
                  width: 1rem;
                  height: 1rem;
                }
              }
              
            }
          }
  
          .dataFunctions {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: flex-start;
            align-items: center;

            svg {
              cursor: pointer;
              transition: all 0.2s ease-in-out;
              fill: $color-text-light;
              width: 1.2rem;
              height: 1.2rem;
            }

            .functionActive {
              fill: $color-primary;
            }
            .functionsContains {
              fill: $color-primary;
            }
          }
        }
        .toggleContainer {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-grow: 1;
        }
        
        .switch {
          position: relative;
          display: inline-block;
          width: 34px;
          height: 20px;
        }
        
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }
        
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          transition: .4s;
          border-radius: 34px;
        }
        
        .slider:before {
          position: absolute;
          content: "";
          height: 14px;
          width: 14px;
          left: 3px;
          bottom: 3px;
          background-color: white;
          transition: .4s;
          border-radius: 50%;
        }
        
        input:checked + .slider {
          background-color: #2196F3;
        }
        
        input:checked + .slider:before {
          transform: translateX(14px);
        }

      }

      .functionalityContainer {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        .videoPanel {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .videoText {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            p {
              font-size: 1rem;
              font-weight: 400;
              color: $color-text-light;
            }

            .videoCheckboxContainer {
              display: flex;
              flex-direction: row;
              gap: 1rem;
              justify-content: space-between;
              align-items: center;
              padding: 2rem;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              border-radius: 25px;
              cursor: pointer;

              input[type="checkbox"] {
                -webkit-appearance: none;
                appearance: none;
                background-color: $color-white;
                border-radius: 50px;
                cursor: pointer;
                position: relative;
                outline: 1px solid $color-text-lighter;
                outline-offset: 3px;
                padding: 0.5rem;

                &:checked {
                  outline: 1px solid $color-primary;
                }

                &:checked::before {
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 1rem; /* Adjust size as needed */
                  height: 1rem; /* Adjust size as needed */
                  border-radius: 50px;
                  background-color: $color-primary;
                  border: 2px solid #fff; /* Change this to your desired color */
                }
              }
              .videoOptionsText {
                display: flex;
                flex-direction: column;
                width: 100%;

                p:first-of-type {
                  font-size: 1rem;
                  font-weight: 700;
                  color: $color-text;
                }
                
                p:last-of-type {
                  font-size: 1rem;
                  font-weight: 400;
                  color: $color-text-light;
                }
              
              }
            }
            .selected {
              outline: 2px solid $color-primary;
            }
          }
        }

        .imagePanel {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .imageText {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            p {
              font-size: 1rem;
              font-weight: 400;
              color: $color-text-light;
            }
          }
        }

        .layoutPanel {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .layoutText {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            p {
              font-size: 1rem;
              font-weight: 400;
              color: $color-text-light;
            }

            .layoutCheckboxContainer {
              display: flex;
              flex-direction: row;
              gap: 1rem;
              justify-content: space-between;
              align-items: center;
              padding: 2rem;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              border-radius: 25px;
              cursor: pointer;

              input[type="checkbox"] {
                -webkit-appearance: none;
                appearance: none;
                background-color: $color-white;
                border-radius: 50px;
                cursor: pointer;
                position: relative;
                outline: 1px solid $color-text-lighter;
                outline-offset: 3px;
                padding: 0.5rem;

                &:checked {
                  outline: 1px solid $color-primary;
                }

                &:checked::before {
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 1rem; /* Adjust size as needed */
                  height: 1rem; /* Adjust size as needed */
                  border-radius: 50px;
                  background-color: $color-primary;
                  border: 2px solid #fff; /* Change this to your desired color */
                }
              }
              .layoutOptionsText {
                display: flex;
                flex-direction: column;
                width: 100%;

                p:first-of-type {
                  font-size: 1rem;
                  font-weight: 700;
                  color: $color-text;
                }
                
                p:last-of-type {
                  font-size: 1rem;
                  font-weight: 400;
                  color: $color-text-light;
                }
              
              }
            }
            .selected {
              outline: 2px solid $color-primary;
            }
          }
        }

        .deletePanel {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;

          .deleteText {
            h4 {
              text-align: center;
            }
            p {
              font-size: 1rem;
              font-weight: 400;
              color: $color-text-light;
              text-align: center;
            }
          }
          .deleteButton {
            button {
            padding: 1rem;
            font-weight: 400;
            background-color: $color-off-black;
            color: $color-white;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
              background-color: darken($color-error, 10%);
            }
            }
          }
        }
      }
    }
    .closeFunctionPanel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.2rem 1rem;
      background-color: $color-text-lighter;
      margin-bottom: 1rem;
      width: 100%;


      .closeFunctionPanelText {
        font-size: 1rem;
        font-weight: 400;
        color: $color-text;
      }

      svg {
        cursor: pointer;
        fill: $color-text;
        width: 1rem;
        height: 1rem;
      }
    }

}
// Variables for colors
$modal-background-color: #fff;
$overlay-background-color: rgba(0, 0, 0, 0.5);
$button-font-size: 1.5rem;
$icon-size: 32px;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $overlay-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal {
    background-color: $modal-background-color;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;

    .modalHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      h2 {
        margin: 0;
      }

      .closeButton {
        background: none;
        border: none;
        font-size: $button-font-size;
        cursor: pointer;
      }
    }

    .modalBody {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        margin-top: 0;
      }

      input[type='text'] {
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        width: 100%;
        max-width: 400px;
      }

      .iconGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
        margin-top: 20px;

        .iconOption {
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;

          svg {
            width: $icon-size;
            height: $icon-size;
          }

          p {
            margin-top: 5px;
            font-size: 0.9rem;
          }
        }
      }

      button {
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}

  
  
  