// styles/globals.scss

@import './variables';
@import './mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    color: $color-text;
    background-color: $color-white;
    overflow-y: scroll;
    overflow-x: hidden;
}
  
a {
    color: $color-primary;
    text-decoration: none;

    &:hover {
        color: $color-secondary
    }
}

h1 {
    font-size: clamp(32px, 8.5vmin, 88px);
    text-align: left;
    font-weight: 900;
    line-height: 0.9;
}

h2 {
    font-size: clamp(28px, 7.5vmin, 78px);
    text-align: left;
    font-weight: 900;
    line-height: 1;
}

h3 {
    font-size: clamp(24px, 6.5vmin, 68px);
    text-align: left;
    font-weight: 700;
    line-height: 1;
}

sup {
    font-size: clamp(16px, 4vmin, 18px);
}

p {
    font-size: clamp(16px, 4.5vmin, 22px);
    text-align: left;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

button {
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 50px;
    font-size: clamp(16px, 4vmin, 18px);
    cursor: pointer;
}