// styles/hero.module.scss

@import './variables';
@import './mixins';


.hero {
padding: 12rem 2rem;
  height: 100vh;
  @include flex-center;

  @media (max-width: $screen-lg) {
    height: auto;
    padding-top: 12rem;
  }
    
   .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        gap: 1rem;
        max-width: $screen-xxl;

        @media (max-width: $screen-lg) {
            flex-direction: column;
            gap: 5rem;
        }

        .textContainer {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 1.5rem;

            sup {
                font-size: clamp(16px, 4vmin, 18px);
            }
            h1 {
                font-size: clamp(32px, 8.5vmin, 88px);
                text-align: left;
                font-weight: 900;
                line-height: 0.9;
            }
            p {
                font-size: clamp(16px, 4.5vmin, 22px);
                text-align: left;
                line-height: 1.5;
            }
            .button {
                padding: 1rem 2rem;
                border: none;
                border-radius: 50px;
                font-size: clamp(16px, 4vmin, 18px);
                cursor: pointer;

                &:hover {
                    background-color: $color-black;
                }
            }
        }

        .imageContainer {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            width: 100%;

    
            .imageBlob {
                position: absolute;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                transform: rotate3d(1, 1, 1, 45deg);
            }
    
            img {
                object-fit: contain;
                z-index: 1;
            }
        }
    }
}